
.neon
{
	position: relative;
	top: 0;
	font-size: 4vh;
	color: #fff;
	text-shadow: 0 0 20px rgba(132,183,202,1);
}

.neon:after
{
	content: attr(data-text);
	position: absolute; 
	top: 0;
	left: 0;
	z-index: -1;
	color: rgba(132,183,202,1);
	filter: blur(15px);
}

.neon:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 40%;
	background: #fff;
	z-index: -2;
	opacity: 0.5;
	filter: blur(40px);
}
